@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap%27");

button {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 800;
  font-size: 48px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.05em;

  color: #000000;
  cursor: pointer;
}

.main-buttons {
  transition: transform 350ms ease-in-out, opacity 400ms;
}
.main-buttons :hover {
  opacity: 0.7 !important;
}
/*
.main-login-button :hover {
  opacity: 0.7 !important;
}*/

.container {
  height: 100vh;
  width: 100vw;
}

.main-logo {
  position: absolute;
  width: 380px;
  height: 230px;
  left: 17px;
  top: 143px;
}

.main-start-adventure-text {
  position: absolute;
  width: 352px;
  height: 50px;
  left: 31px;
  top: 550px;

  font-family: Open Sans;
  font-style: italic;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffffff;

  animation: blinker 1s ease-in-out infinite alternate;
}

@keyframes blinker {
  to {
    opacity: 0.25;
  }
}

.main-login-button {
  position: absolute;
  width: 332px;
  height: 83px;
  left: 41px;
  top: 605px;
  margin-top: 6%;

  background: #89c1d2;
  border: transparent;
  border-radius: 50px;
}

.main-login-button-2 {
  position: absolute;
  width: 332px;
  height: 83px;
  left: 41px;
  top: 711px;
  margin-top: 5%;

  background: #89c1d2;
  border: transparent;
  border-radius: 50px;
}

.back-arrow {
  position: absolute;
  height: 50px;
  width: 50px;
  margin-left: 1%;
  margin-top: 4%;
  z-index: 1;
  cursor: pointer;
}

.login-input {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.05em;
  color: black;
  position: absolute;
  width: 332px;
  height: 63px;
  left: 41px;
  background: #89c1d2;
  border: transparent;
  outline: none;
  border-radius: 50px;
}
.find-friends-input {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.05em;
  color: black;
  position: absolute;
  width: 332px;
  height: 63px;
  background: #89c1d2;
  border: transparent;
  outline: none;
  border-radius: 50px;
  top: 380px;
  left: 50px;
}
.login-input {
  top: 525px;
  margin-top: 10%;
}

.login-password {
  top: 631px;
  margin-top: 3%;
}

.login-button {
  position: absolute;
  width: 332px;
  height: 83px;
  left: 41px;
  top: 720px;
  margin-top: 3%;

  background: #ffc65c;
  border: transparent;
  border-radius: 50px;
}

.search-button {
  position: absolute;
  width: 159px;
  height: 58px;
  left: 123px;
  top: 449px;
  margin-top: 6%;
  color: white;
  font-size: 28px;
  background: #107e7b;
  border: transparent;
  border-radius: 50px;
}

.find-friends-text {
  position: absolute;
  top: 237px;
  left: 90px;
  font-family: Open Sans;
  font-style: italic;
  font-weight: 800;
  font-size: 48px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffc65c;
}

.pin {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  height: 5vh;
  width: 5vw;
}

.pin-style {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  object-fit: "contain";
  max-width: 280px;
}

.game-page {
  background: #0c3237;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.game-page-wrapper {
  display: flex;
  flex-direction: column;
}

.challenge-text {
  position: absolute;
  top: 10vh;
  left: 5vw;
  /* right: 10vw; */
  width: 90vw;
  font-family: Open Sans;
  font-style: italic;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffc65c;
  background-color: #0C3237;
  filter: drop-shadow(.5rem .5rem .5rem #00000066);
  border-radius: 1rem;
  text-align: center;
  margin: auto; 
  order: 1;
  z-index: 1;
  padding-top: 5%;
  padding-bottom: 5%;
}

.map {
  position: absolute;
  bottom: 10vh;
  height: 90vh;
  border-radius: 1rem;
  width: 100vw;
}

.remaining {
  position: absolute;
  top: 25vh;
  width: 100vw;
  height: 10vh;
  font-family: Open Sans;
  font-style: italic;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffffff;
  text-shadow: 0 0 10rem #000000;
  z-index: 10;
}

.next-step {
  height: 10vh;
  top: 90vh;
  background-color: #89C1D2;
  font-family: Open Sans;
  font-style: italic;
  font-weight: 800;
  font-size: 2rem;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #0C3237;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  position: absolute;
  z-index: 11;
}

.arrow {
  height: 70%;
  margin-right: 1rem;
}

.text {
  flex-grow: 2;
}