@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap%27");

input {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.05em;
  color: black;
}

button {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 800;
  font-size: 48px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.05em;

  color: #000000;
  cursor: pointer;
}

.main-buttons {
  transition: transform 350ms ease-in-out, opacity 400ms;
}
.main-buttons :hover {
  opacity: 0.7 !important;
}
/*
.main-login-button :hover {
  opacity: 0.7 !important;
}*/

.container {
  height: 100vh;
  width: 100vw;
}

.main-logo {
  position: absolute;
  width: 380px;
  height: 230px;
  left: 17px;
  top: 143px;
}

.main-start-adventure-text {
  position: absolute;
  width: 352px;
  height: 50px;
  left: 31px;
  top: 550px;

  font-family: Open Sans;
  font-style: italic;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffffff;

  animation: blinker 1s ease-in-out infinite alternate;
}

@keyframes blinker {
  to {
    opacity: 0.25;
  }
}

.main-login-button {
  position: absolute;
  width: 332px;
  height: 83px;
  left: 41px;
  top: 605px;
  margin-top: 6%;

  background: #89c1d2;
  border: transparent;
  border-radius: 50px;
}

.main-login-button-2 {
  position: absolute;
  width: 332px;
  height: 83px;
  left: 41px;
  top: 711px;
  margin-top: 5%;

  background: #89c1d2;
  border: transparent;
  border-radius: 50px;
}

.back-arrow {
  position: absolute;
  height: 50px;
  width: 50px;
  margin-left: 1%;
  margin-top: 4%;
  z-index: 1;
  cursor: pointer;
}

.login-email {
  position: absolute;
  width: 332px;
  height: 63px;
  left: 41px;
  top: 525px;
  margin-top: 10%;

  background: #89c1d2;
  border: transparent;
  border-radius: 50px;
}

.login-password {
  position: absolute;
  width: 332px;
  height: 63px;
  left: 41px;
  top: 631px;
  margin-top: 3%;

  background: #89c1d2;
  border: transparent;
  border-radius: 50px;
}

.login-button {
  position: absolute;
  width: 332px;
  height: 83px;
  left: 41px;
  top: 720px;
  margin-top: 3%;

  background: #ffc65c;
  border: transparent;
  border-radius: 50px;
}

.search-button {
  position: absolute;
  width: 159px;
  height: 58px;
  left: 123px;
  top: 449px;
  margin-top: 6%;
  color: white;
  font-size: 28px;
  background: #107e7b;
  border: transparent;
  border-radius: 50px;
}

.find-friends-text {
  position: absolute;
  top: 237px;
  left: 90px;
  font-family: Open Sans;
  font-style: italic;
  font-weight: 800;
  font-size: 48px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffc65c;
}
